* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header{
  background-color: #FF9A4B;
  height: 50px;
}

.main-contents{
  margin:50px auto;
  width: 960px;
  display: flex;
}

.box{
  background-color: #EEEEEE;
  width: 300px;
  padding:10px;
  position: relative;
}

.box:nth-child(2){
  margin:0px 30px;
}

.step{
  background-color: #FF9A4B;
  font-color:white;
  position: absolute;
  top:0;
  left: 0;
}

.image-1{
  background-image: url(img/flow01.png);
  width: 280px;
  height: 150px;
  background-size: cover;
  background-position: center; 
}

.image-2{
  background-image: url(img/flow02.png);
  width: 280px;
  height: 150px;
  background-size: cover;
  background-position: center; 
}

.image-3{
  background-image: url(img/flow03.png);
  width: 280px;
  height: 150px;
  background-size: cover;
  background-position: center; 
}

.title{
  margin-top: 15px;
  margin-bottom: 5px;
}

footer{
  background-color: #AAAAAA;
  height: 50px;
}